@media screen and (max-width:440px) {



  
    .slider-item{
        width: 375px;
        padding: 0 60px;
        
    }

      

    .slider-title {
        font-size: 20px;
        font-weight: 700;
        margin-top: 64px;
        width: 100%;
    }

    .slider-text {
        font-size: 16px;
    }

    .arrow-left {
        left: 20px;
    }

    .arrow-right {
        left: calc(100vw - 66px);
    }

    .arrowl {
        width: 8px;
        height: 16px;
    }

    .slider-button {
        margin-top: 12px;
    }

    .slider-dots button {
        width: 12px;
        height: 12px;
        gap: 12px;
    }

    .title {
        font-size: 20px;
    }
    .product-list {
        display: flex;
        flex-direction: column;
      
      }
    .product-list div {
        width: 100%;
        height: 343px;
        border-radius: 20px;

    }

    .product-items-text {
        font-size: 20px;
        margin-top: 285px;

    }
    .glxavor-orderCall {
        width: 375px;
        height: 360px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .container-form-order{
        left: 20px;
    }
    .oder-call-text{
        width: 343px;
    }
    .oder-call{
        font-size: 24px;
    }
    .inputBox-call{
        width: 375px;
        display: flex;
        flex-wrap: wrap;
        
      }
    .A-order{
      margin-top: 15px;
      margin-left:0;
      }
      .btn-callOrder{
        position: relative;
        top: 10px;
        left: 100px;
    }
    .resp375{
        display: none;
    }
   
}
