@media screen and (max-width:768px) {

   
    .main-arcanc {
        width: 100%;
        width:768px;
        display: flex;
        flex-wrap: wrap;
    }

    .roof-footer-main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .roof-left-side{
        width: 100vw;
 
    }
    .B{
        margin-left: 0;

    }
.roof-right-side img {
    width: 703px;
    height: 400px;
    margin-top: 40px;
}

.calc-button{
    width: 103px;
    height: 39px;
}

}
